﻿@model  Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.CustomerDto != null)
{
    <h2>Edit Customer</h2>
}
else
{
    <h2>New Customer</h2>
}

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please fix the following errors")
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerDto.Name)
        @Html.TextBoxFor(m => m.CustomerDto.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerDto.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerDto.BirthDate)
        @Html.TextBoxFor(m => m.CustomerDto.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerDto.BirthDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerDto.MembershipTypeId)
        @Html.DropDownListFor(m => m.CustomerDto.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MembershipTypes)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.CustomerDto.IsSubscribedToNewsletter) Subscribed to Newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.CustomerDto.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
 
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

